$breakpoints: (
  'sp': 'screen and (min-width: 641px)',
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


.wrapper{
  /*display: flex;
  flex-direction: column;
  @include mq(sp) {
    flex-direction: row;
  }*/
}
